@{
    ViewBag.Title = "Luxo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text title">Luxo</h1>
<h2 class=" text subtitle">Modelos esportivos e elegantes. Poder sobre rodas. </h2>

<div class="grid-container-small">
    <div class="grid-item-small">
        <a class="text brown-text" href="google.com">
            <img class="grid-image-small" src="~/images/no-thumbnail.png" />
            <h2 class="text grid-title-small">Carro 1</h2>
            <h3 class="text grid-subtitle-small">Valor 1</h3>
        </a>
    </div>
    <div class="grid-item-small">
        <a class="text brown-text" href="google.com">
            <img class="grid-image-small" src="~/images/no-thumbnail.png" />
            <h2 class="text grid-title-small">Carro 2</h2>
            <h3 class="text grid-subtitle-small">Valor 2</h3>
        </a>
    </div>
    <div class="grid-item-small">
        <a class="text brown-text" href="google.com">
            <img class="grid-image-small" src="~/images/no-thumbnail.png" />
            <h2 class="text grid-title-small">Carro 3</h2>
            <h3 class="text grid-subtitle-small">Valor 3</h3>
        </a>
    </div>
    <div class="grid-item-small">
        <a class="text brown-text" href="google.com">
            <img class="grid-image-small" src="~/images/no-thumbnail.png" />
            <h2 class="text grid-title-small">Carro 4</h2>
            <h3 class="text grid-subtitle-small">Valor 4</h3>
        </a>
    </div>
</div>